@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
a[href^="https"] {
    color: red;
  }



body {
    font-family: "Rotobo";
    background-color: #ffffff;
    color: #000;
  }
  
  h1 {
    color: #000;
  }
  

  :root {
    --main-background-color: #fff;
    --header-text-color: #2F303A;
}

body {
    background-color: var(--main-background-color);
    color: #212121;
    width: 1600px;
height: 80px;
flex-shrink: 0;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 200% */
letter-spacing: 1.08px;
    
}

a {
    color: var(--link-color);
    color: #212121;

font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 200% */
letter-spacing: 1.08px;
 }


h1:first-of-type {
  background-color: #fff; /* */
  display: flex;
width: 1600px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 94px;
}



h1:last-of-type {
  background-color: 
  #2F303A;
  width: 1600px;
height: 252px;
flex-shrink: 0;
}